[**nextn v0.1.0**](../../../../README.md)

***

[nextn](../../../../README.md) / [lib/template/types](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: lib/template/types.ts:58

Validation result

## Properties

### isValid

> **isValid**: `boolean`

Defined in: lib/template/types.ts:59

***

### errors

> **errors**: `string`[]

Defined in: lib/template/types.ts:60

***

### warnings

> **warnings**: `string`[]

Defined in: lib/template/types.ts:61
